<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <p>
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        <b>Email:</b> <%= @user.email %>
      </p>
      <p>
        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
        <b>Area:</b> <%= @user[:area] %>
      </p>
      <p>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <b>Profile:</b> <%= @user[:profile] %>
      </p>
      <p>
        <span>
          <a href="<%= followings_user_path %>">
            <strong>
              <%= pluralize(@user.following_users.count, "following") %>
            </strong>
          </a>
          <a href="<%= followers_user_path %>">
            <strong>
              <%= pluralize(@user.follower_users.count, "follower") %>
            </strong>
          </a>
          <a href="<%= favorites_user_path %>">
            <strong id="favorites_counts">
              <%= pluralize(@user.favorite_microposts.count, "favorite") %>
            </strong>
          </a>
        </span>
      </p>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Favorites (<%= @user.favorite_microposts.count %>)</h3>
    <% if @favorite_microposts.any? %>
      <ol class="microposts">
        <%= render @favorite_microposts %>
      </ol>
    <% end %>
  </div>
</div>
