<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <p>
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        <b>Email:</b> <%= @user.email %>
      </p>
      <p>
        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
        <b>Area:</b> <%= @user[:area] %>
      </p>
      <p>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <b>Profile:</b> <%= @user[:profile] %>
      </p>
      <p>
        <span>
          <%= pluralize(@user.following_users.count, "following") %>
          <%= link_to pluralize(@user.follower_users.count, "follower"), followers_user_path %>
        </span>
      </p>
    </section>
  </aside>
  <div class="col-md-8">
    <h1>Followings</h1>
    <% @followings.each do |following| %>
     <li>
      <%= link_to gravatar_for(following, size: 50), following %>
      <span class="user"><h3><%= link_to following.name, following %></h3></span>
      <span class="profile"><%= following.profile %></span>
     </li>
    <% end %>
  </div>
</div>