<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

Email: <%= @user.email %><br>
Area: <%= @user[:area] %><br>
Profile: <%= @user[:profile] %><br>
  
<%= link_to "Update", edit_user_path, class: "btn btn-primary" %>
