<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <p>
        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        <b>Email:</b> <%= @user.email %>
      </p>
      <p>
        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
        <b>Area:</b> <%= @user[:area] %>
      </p>
      <p>
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        <b>Profile:</b> <%= @user[:profile] %>
      </p>
      <p>
        <span>
          <%= link_to pluralize(@user.following_users.count, "following"), followings_user_path %>
          <%= link_to pluralize(@user.follower_users.count, "follower"), followers_user_path %>
          <%= link_to pluralize(@user.favorite_microposts.count, "favorite"), favorites_user_path %>
        </span>
      </p>
        <% if session[:user_id] == @user.id %>
         <%= link_to "Edit user information", edit_user_path, class: "btn btn-primary btn-block" %>
        <% else %>
        <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
    <% end %>
  </div>
</div>