<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to "view my profile", current_user %></span>
<span>
    <a href="<%= followings_user_path(current_user) %>">
        <strong>
            <%= pluralize(current_user.following_users.count, "following") %>
        </strong>
    </a>
    <a href="<%= followers_user_path(current_user) %>">
        <strong>
            <%= pluralize(current_user.follower_users.count, "follower") %>
        </strong>
    </a>
    <a href="<%= favorites_user_path(current_user) %>">
        <strong id="favorites_counts">
            <%= pluralize(current_user.favorite_microposts.count, "favorite") %>
        </strong>
    </a>
</span>