<%= link_to gravatar_for(current_user, size: 50), current_user %>
<h1><%= current_user.name %></h1>
<span><%= link_to "view my profile", current_user %></span>
<span>
    <%= link_to pluralize(current_user.following_users.count, "following"), followings_user_path(current_user) %>
    <%= link_to pluralize(current_user.follower_users.count, "follower"), followers_user_path(current_user) %>
    <%= link_to pluralize(current_user.favorite_microposts.count, "favorite"), favorites_user_path(current_user) %>
</span>