<li id="micropost-<%= micropost.id %>">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content"><%= micropost.content %></span>
  <span class="favorited">
    <% if current_user.favorited_past?(micropost) %>
      <%= form_for(current_user.favorite_relationships.find_by(favorited_id: micropost.id),
             html: { method: :delete },
             remote: true) do |f| %>
      <%= f.submit "Unfavorite", class: "btn" %>
      <% end %>
    <% else %>
      <%= form_for(current_user.favorite_relationships.build, remote: true) do |f| %>
       <div><%= hidden_field_tag :favorited_id, micropost.id %></div>
       <%= f.submit "Favorite", class: "btn btn-default" %>
      <% end %>
    <% end %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user == micropost.user %>
      <%= link_to "delete", micropost, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
</li>